* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div1,
.div2 {
  height: 100vh;
}

.div1 {
  background-color: pink;
}

.div2 {
  background-color: salmon;
}

.square {
  width: 100px;
  height: 20vh;
  background-color: fuchsia;
}

.square2 {
  width: 100px;
  height: 20vh;
  background-color: green;
}

.red {
  background-color: red;
}
